.place-card,
.place-review-card,
.place-detail-card,
.login-card,
.review-card {
  margin: 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.place-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.place-card h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #222;
}

.place-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
}

.place-card span:last-child {
  font-weight: 700;
  font-size: 1rem;
  color: var(--base);
}

.place-detail-card p {
  margin-bottom: 15px;
}

.place-detail-card ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-card label {
  font-weight: bold;
  font-size: 1.2rem;
}

#review-text {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  box-sizing: border-box;
}

.login-card h1 {
  margin-bottom: 20px;
}

.login-card div {
  margin-bottom: 15px;
}

#login-message h2,
#review-form h2 {
  margin-left: 20px;
}

.place-reviews h2 {
  margin-left: 20px;
}
