.place-card {
  margin: 20px;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: var(--radius);
  padding: 50px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.place-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.place-card h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #222;
}

.place-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
}

.place-card span:last-child {
  font-weight: 700;
  font-size: 1rem;
  color: var(--base);
}

.place-review-card,
.place-detail-card {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: var(--radius);
  padding: 50px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.place-detail-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.place-detail-card {
  width: 100%;
}

.place-detail-card p {
  margin-bottom: 15px;
}

.place-detail-card ul {
  margin-top: 10px;
}