@import url('place-card.css');
@import url('nav-bar.css');
@import url('button.css');

:root {
  --base: #1877f2;
  --hoverBase: #2559c8;
  --radius: 12px;
}

.page-layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

h1 {
  font-size: 2.2rem;
}

.index-places-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.index-place-list {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .index-place-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .index-place-list {
    grid-template-columns: 1fr;
  }
}

.place-reviews ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.place-detail-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
