<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    {% include "partials/header.html" %}

    <main class="page-layout">{% block content %} {% endblock %}</main>

    {% include "partials/footer.html" %}

    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/places.js') }}"></script>
    <script src="{{ url_for('static', filename='js/place.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reviews.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
